.me_1 {
    scale:45%;
    margin:-30% 0% 0% 63%;
    filter:drop-shadow(0 0 2rem white);
}

.me_1:hover {
    filter:invert() drop-shadow(0 0 2rem blue);
}

.me_2 {
    float:left;
    filter:drop-shadow(0 0 1rem white);
    scale:60% 50%;
    margin:-150px 0px 0px -10px;
}

.me_2:hover {
    filter:invert() drop-shadow(0 0 2rem blue);
}

.me_3 p {
    width:250px;
    height:250px;
    background-color: red;
    float:right;
    margin:200px 50px 50px 0px;
}

.about {
    margin-top:-140px;
    padding:0px 15px 15px;
}