.uni_main .top {
    display:grid;
    text-align:center;
    font-size:large;
    margin:0px 0px 20px 0px;
}

.uni_main .posts {
    display:grid;
    grid-template-columns:33% 33% 33%;
}

.uni_main .posts .post {
    margin: 10px 6.5px 10px;
    text-align:center;
    background-color:#161616;
}

.uni_main .posts .post p {
    margin:5px 20px;                                                                                                                                                                                                                                                                                                                                                                                   px;
    padding-bottom: 30px;
}

.uni_main .post_img {
    object-fit:cover;
    width:90%;
    height:160px;
    margin:20px 0px 15px 0px;
    border:5px solid black;
}

.uni_main .posts .tags {
    margin:0px 17px 0px 7px;
    display:grid;
    grid-auto-flow:column;
    grid-auto-columns:auto;
    padding: 5px 0px 0px 15px;
}

.uni_main .posts .tag {
    padding: 8px 0px 5px 0px;
    height:10px;
    width:auto;
    margin:0px 5px 0px 0px;
    background-color:mediumvioletred;
}

.uni_main .posts .tag h3 {
    margin:-4px 10px 0px;
    text-align:center;
    font-size:10px;
    font-weight:bold;
    color:#EEEEEE;
}

.uni_main a {
    color:#EEEEEE;
    font-weight:bold;
    font-size:large;
    text-decoration:none;
}

.uni_main .post_title {
    text-decoration:none;
    padding-top:5px;
    margin:17.5px 5px 3px;
}


.uni_main .post_title:hover {
    text-decoration:2px wavy underline;
    color:mediumvioletred;
}

/* each post */
.current_post h2 {
    padding:40px 0px 0px; text-align:center; font-size:x-large;
}

.current_post .tags {
    max-width:50%;
    text-align:left;
    display:grid;
    grid-auto-flow:column;
    grid-auto-columns:auto;
    padding: 5px 0px 15px 15px;
}

.current_post .tag {
    padding: 7px 0px 5px 0px;
    height:16px;
    width:auto;
    margin:0px 10px 0px 0px;
    background-color:mediumvioletred;
}

.current_post .tag h3 {
    margin:-2.5px 2px 0px 8px;
    font-size:13px;
    font-weight:bold;
    color:#EEEEEE;
}

.current_post .images {
    padding:2.5px;
    margin-bottom:70px;
    margin-top:20px;
}

.btn {
    width:auto;
    margin: 2px;
    font: 12px normal;
    height: 27px;
    background-color:#222222;
    color:#EEEEEE;
    float: right;
}

.pdf_nav {
    margin:10px 0px 40px;
}

.current_post h6 {
    font-size: small;
    font-weight:normal;
    margin:5px 0px 0px;
    text-align:center;
}

.current_post .post_text {
    margin:15px 25% 10% 15px;
    font-size:normal;
}

.current_post .minor_image {
    object-fit:cover;
    width:100%;
    height:275px;
    border: 2.5px solid mediumvioletred;
}

.current_post .half_images {
    display:grid;
    width:77%;
    padding:5px;
    grid-auto-flow:column;
    grid-auto-columns:auto;
}
